H3_HOST=0.0.0.0
H3_PORT=8193
H3_ADMIN_TOKEN=replace-with-a-long-random-admin-token
H3_API_TOKEN=replace-with-a-long-random-bootstrap-api-token
H3_UPSTREAMS=http://127.0.0.1:8188,http://127.0.0.1:8189
H3_DATA_DIR=/var/lib/h3-middleware
H3_MAX_ATTEMPTS=2
H3_HEALTH_INTERVAL=5
H3_POLL_INTERVAL=1
H3_CONDITIONING_NODE=MiniMaxH3ImageToVideo
